@media (min-width: 769px) {
    .list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 300px;
        color:black;
        font-size: 20px;
    }

    .listitem:hover{
        cursor: pointer;
        background-color: rgb(201, 201, 201);
    }
    
    .listitemcurrent{
        background: cyan
    }

    .listDiv{
        position: fixed;
        width: 300px;
        height: 100%;
        background-color: grey;
        padding: 30px 0; 

        ul li{
            padding: 15px;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(255,255,255,0.05);
        }
    }
}

@media (max-width: 768px){
    .listDiv{
        display:none;
    }
}