@media (min-width: 769px) {
    .list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 20rem;
        color:black;
        font-size: 26px;
    }

    .listitem:hover{
        cursor: pointer;
        background-color: rgb(201, 201, 201);
    }
    
    .listitemcurrent{
        background: cyan
    }

    .listDiv{
        ul {
            list-style-type: none;
            padding: 0;
            border: 1px solid #ddd;
          }
          
          ul li {
            padding: 8px 16px;
            border-bottom: 1px solid #ddd;
          }
          
          ul li:last-child {
            border-bottom: none
          }
    }
}

@media (max-width: 768px){
    .listDiv{
        display:none;
    }
}