.container{
    max-width: 100rem;
    margin-left: 300px;
    padding-inline: 2rem;
}

@media (max-width: 768px){
    .container{
        margin-inline: auto;
    }
}

.p_grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 1rem;
}

.card{
    border:3px solid green; 
    aspect-ratio: 1.5/1;
    width: 400px;
}

.stacked{
    display: grid;

    *{
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.card_content{
    background-color: goldenrod;
    align-self: end;
    margin: .5rem;
    padding: .5rem;
}

.wrapper{
    display: flex;
    position: relative;
}